---
layout: page
---

<div class="home">

  <ul class="post-list">
    {% for post in site.categories[page.category] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d %b %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt }}
        </p>
      </li>
    {% endfor %}
  </ul>

</div>
