---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d %b %Y" }}</time>
      {% for cat in site.pages %}
        {% if cat.category == page.category %}
          <a href="{{ cat.url | prepend: site.baseurl }}" itemprop="category">{{ cat.title }}</a>
        {% endif %}
      {% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <span itemprop="keywords">
    {% for tag in page.tags %}
      {% for post in site.pages %}
        {% if post.tag == tag %}
          <a rel="category tag" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </span>
</article>
